<!-- Skeleton khi đang loading -->
<div class="grid" *ngIf="isLoading">
  <app-product-card-skeleton
    *ngFor="let i of skeletonItems"
  ></app-product-card-skeleton>
</div>

<!-- Danh sách thật khi đã load xong -->
<div class="grid" *ngIf="!isLoading">
  <app-product-card
    *ngFor="let p of products"
    [product]="p"
    [mode]="mode"
    [selected]="isSelected(p.productId)"
    [selectionMode]="selectionMode"
    [isMaxSelected]="isMaxSelected"
    (toggleSelect)="onToggle($event)"
    (update)="onUpdate.emit($event)"
    (delete)="onDelete.emit($event)"
    (addToCart)="onAddToCart.emit($event)"
    (viewDetail)="onViewDetail.emit($event)"
  ></app-product-card>
</div>