<div class="page-layout">
  <aside class="sidebar" *ngIf="showFilter">
    <app-product-filter (filterApplied)="onFilterApplied($event)"></app-product-filter>
  </aside>
  <main class="main-content" [class.full-width]="!showFilter">
    <h1 class="page-title">{{ pageTitle }}</h1>
    <div class="product-grid">
      <app-product-list
        [products]="products"
        [isLoading]="isLoading"
        [skeletonCount]="10"
        [mode]="'customer'"
        (onViewDetail)="onViewDetail($event)"
        (onAddToCart)="onAddToCart($event)"
      ></app-product-list>
    </div>
    <div *ngIf="mode != 'all' && !isLoading && products.length === 0" class="no-results">
      <p>No product found!</p>
    </div>
    
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (onPage)="goToPage($event)"
    />

  </main>
</div>
<app-product-detail-modal
  *ngIf="viewProductDetail !== null"
  [product]="viewProductDetail!"
  (close)="closeModal()"
  (addToCart)="onAddToCart($event.product.productId)">
</app-product-detail-modal>
<app-toast />